*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Crimson Text", serif;
    background-color: #ffffff;
    color: #000000;
}
header h1{
    text-align: center;
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px 0;
}
.flag{
    padding:20px;
    height: 25%;
    width: 25%;
    grid-row: repeat(auto-fit, minmax(200px, 1fr));
    display: flex;
    justify-content: center;
}