*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   font-family: "Montserrat", serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: crimson;
    color: blue;
    padding: 20px;

.cloud{
    display: flex;
    list-style: none;
}
.cloud li{
    margin:0 5px;
}
.cloud a{
    color: black;
    text-decoration: none;
    font-size:18px ;
    text-transform: capitalize;
    transition: color 0.5 ease;
}
.cloud a:hover{
    color: wheat;
    font-size: small;
}
.cold{
    display: none; 
    flex-direction: column;
    cursor: pointer;
}
.cold div{
    background-color: aliceblue;
    height: 3px;
    width: 25px;
    margin: 3px 0;
}
@media screen and (max-width: 768px){
.cold{
    display: flex;
}
.cloud{
    display: none;
    flex-direction: column;
    top: 80px;
    width: 100%;
    left: 0;
    text-align: center;
    padding: 20px 0;
    position:absolute;
    background-color: aqua;
}
.cloud.active{
    display: flex;
}
.cloud li{
 margin: 10px 20px;
 
}
}}