*,
*::after,
*::before,

  * {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
   
   }
   body{
      height: 100vh;
      font-family: "Agu Display", serif;
      
      background: linear-gradient(360deg, #8052ec, #d161ff, skyblue, pink);
      
   }
  /* .container{

    align-items: center;
    display: flex;
    justify-content: center;
    transform: translate(-50% -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 360px 0;
    border-radius: 20px;
   }
   .button{
    background-color: whitesmoke;
    padding: 20px 60px;
    width: 50%;
   }
   .button button{
    color: blue;
    background-color: whitesmoke;
   }
   .button input{
      height: 20px;
      justify-content: space-between;
   }*/
   .container{
      width: 40%;
      padding: 30px 40px;
      transform: translate(-50%, -50%);
      top:50%;
      left: 50%;
      position: absolute;
      min-width: 450px;
      border: 2px solid skyblue;
     background-color: rgb(73, 167, 205);
   }
   #newtask{
      background-color: white;
      padding: 30px 20px;
      border-radius: 6px;
      box-shadow: 0 15px 30px rgb(0,0,0,0.3);
      position: relative;
   }
   #newtask input{
      width: 70%;
      height: 45px;
      font-size: 15px;
      border: 2px solid gray;
      padding: 0 10px;
      color: black;
      font-weight: 500;
      border-radius: 5px;
      position: relative;
      font-family: "Agu Display", serif;
   }
   #newtask input:focus{
      border-color: blue;
      outline: none;
   }
   #newtask button{
      width: 20%;
      border-radius: 5px;
      font-family: "Agu Display", serif;
      font-weight: 500;
      background-color: #8052ec;
      border: none;
      color: rgb(255, 255, 255);
      cursor: pointer;
      float: right;
      position: relative;
      height: 45px;
   }
   #tasks{
      background-color: white;
      padding: 30px 20px;
      margin-top: 60px;
      border-radius: 10px;
      box-shadow: 0 15px 30px rgb(0,0,0,0.3);
      width: 100%;
      position: relative;
      text-decoration:underline ;
   }
   .complete{
      text-decoration: line-through;
      color: green;  
      cursor: pointer;
   
   }
   .task{
      background-color: white;
      height: 50px;
      padding: 5px 10px;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid black;
   }
   
